/* @settings

name: Highlighter Headings
id: highlighter-headings
settings:
    - 
        id: background-colors
        title: Background Colors
        type: heading
        level: 3
    - 
        id: h1-background
        title: H1 background color
        type: variable-color
        format: hex
        default: #a01a58
    - 
        id: h2-background
        title: H2 background color
        type: variable-color
        format: hex
        default: #892b64
    - 
        id: h3-background
        title: H3 background color
        type: variable-color
        format: hex
        default: #723c70
    - 
        id: h4-background
        title: H4 background color
        type: variable-color
        format: hex
        default: #5c4d7d
    - 
        id: h5-background
        title: H5 background color
        type: variable-color
        format: hex
        default: #455e89
    - 
        id: h6-background
        title: H6 background color
        type: variable-color
        format: hex
        default: #2e6f95
    - 
        id: text-colors
        title: Text Colors
        type: heading
        level: 3
    - 
        id: h1-color
        title: H1 text color
        type: variable-color
        format: hex
        default: #fff
    - 
        id: h2-color
        title: H2 text color
        type: variable-color
        format: hex
        default: #fff
    - 
        id: h3-color
        title: H3 text color
        type: variable-color
        format: hex
        default: #fff
    - 
        id: h4-color
        title: H4 text color
        type: variable-color
        format: hex
        default: #fff
    - 
        id: h5-color
        title: H5 text color
        type: variable-color
        format: hex
        default: #fff
    - 
        id: h6-color
        title: H6 text color
        type: variable-color
        format: hex
        default: #fff
    - 
        id: popup-size
        title: Size of the Preview popup
        type: heading
        level: 3
    - 
        id: popover-height
        title: Preview Popup height
        description: The height of the popup preview
        type: variable-number
        default: 600
        format: px
    - 
        id: popover-width
        title: Preview Popup Width
        description: The Width of the popup preview
        type: variable-number
        default: 1000
        format: px

*/
.HyperMD-header-1,
h1 {
  color: white !important;
  background: linear-gradient(
    90deg,
    var(--h1-background),
    var(--h1-background) 10%,
    transparent 75%
  ) !important;
  padding-left: 25px !important;
  background-repeat: no-repeat;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 20px !important;
  margin-top: var(--p-spacing);
  padding-top: 0 !important;
  letter-spacing: -0.015em;
  font-size: var(--h1-size);
  font-weight: var(--font-weight);
}

.HyperMD-header-2,
h2 {
  color: white !important;
  background: linear-gradient(
    90deg,
    var(--h2-background),
    var(--h2-background) 10%,
    transparent 65%
  ) !important;
  background-repeat: no-repeat;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 20px !important;
  margin-top: var(--p-spacing);
  padding-top: 0 !important;
  padding-left: 25px !important;
  letter-spacing: -0.015em;
  font-size: var(--h2-size);
  font-weight: var(--font-weight);
}
.HyperMD-header-3,
h3 {
  color: white !important;
  background: linear-gradient(
    90deg,
    var(--h3-background),
    var(--h3-background) 10%,
    transparent 55%
  ) !important;
  background-repeat: no-repeat;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 20px !important;
  margin-top: var(--p-spacing);
  padding-top: 0 !important;
  padding-left: 25px !important;
  letter-spacing: -0.015em;
  font-size: var(--h3-size);
  font-weight: var(--font-weight);
}
.HyperMD-header-4,
h4 {
  color: white !important;
  background: linear-gradient(
    90deg,
    var(--h4-background),
    var(--h4-background) 10%,
    transparent 45%
  ) !important;
  background-repeat: no-repeat;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 20px !important;
  margin-top: var(--p-spacing);
  padding-top: 0 !important;
  padding-left: 25px !important;
  letter-spacing: -0.015em;
  font-size: var(--h4-size);
  font-weight: var(--font-weight);
}

.HyperMD-header-5,
h5 {
  color: white !important;
  background: linear-gradient(
    90deg,
    var(--h5-background),
    var(--h5-background) 10%,
    transparent 35%
  ) !important;
  background-repeat: no-repeat;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 20px !important;
  margin-top: var(--p-spacing);
  padding-top: 0 !important;
  padding-left: 25px !important;
  letter-spacing: -0.015em;
  font-size: var(--h5-size);
  font-weight: var(--font-weight);
}
.HyperMD-header-6,
h6 {
  color: white !important;
  background: linear-gradient(
    90deg,
    var(--h6-background),
    var(--h6-background) 10%,
    transparent 25%
  ) !important;
  background-repeat: no-repeat;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 20px !important;
  margin-top: var(--p-spacing);
  padding-top: 0 !important;
  padding-left: 25px !important;
  letter-spacing: -0.015em;
  font-size: var(--h6-size);
  font-weight: var(--font-weight);
}

.cm-header {
  padding-left: 20px;
}

.cm-header-1,
h1 {
  color: var(--h1-color) !important;
}
.cm-header-2 , h2{
  color: var(--h2-color) !important;
}
.cm-header-3, h3 {
  color: var(--h3-color) !important;
}
.cm-header-4, h4 {
  color: var(--h4-color) !important;
}
.cm-header-5, h5 {
  color: var(--h5-color) !important;
}
.cm-header-6, h6 {
  color: var(--h6-color) !important;
}

article>h1>a{
  color:var(--h1-color) !important;
}
article>h2>a{
  color:var(--h2-color) !important;
}
article>h3>a{
  color:var(--h3-color) !important;
}
article>h4>a{
  color:var(--h4-color) !important;
}
article>h5>a{
  color:var(--h5-color) !important;
}
article>h6>a{
  color:var(--h6-color) !important;
}


.theme-light, .theme-dark {
  --popover-width: 1000px !important;
  --popover-height: 600px !important;
}



body {
  --h1-background: #a01a58;
  --h1-color: #fff;

  --h2-background: #892b64;
  --h2-color: #fff;

  --h3-background: #723c70;
  --h3-color: #fff;

  --h4-background: #5c4d7d;
  --h4-color: #fff;

  --h5-background: #455e89;
  --h5-color: #fff;

  --h6-background: #2e6f95;
  --h6-color: #fff;

  

  --h1-size: 40px;
  --h2-size: calc(var(--h1-size) - 4px);
  --h3-size: calc(var(--h1-size) - 8px);
  --h4-size: calc(var(--h1-size) - 12px);
  --h5-size: calc(var(--h1-size) - 14px);
  --h6-size: calc(var(--h1-size) - 16px);

  --header-weight: 700;
  --h1-weight: var(--header-weight);
  --h2-weight: var(--header-weight);
  --h3-weight: var(--header-weight);
  --h4-weight: var(--header-weight);
  --h5-weight: var(--header-weight);
  --h6-weight: var(--header-weight);

  --header-text-align: start;
  --h1-text-align: var(--header-text-align);
  --h2-text-align: var(--header-text-align);
  --h3-text-align: var(--header-text-align);
  --h4-text-align: var(--header-text-align);
  --h5-text-align: var(--header-text-align);
  --h6-text-align: var(--header-text-align);

  --header-padding: 0;
  --h1-padding: var(--header-padding);
  --h2-padding: var(--header-padding);
  --h3-padding: var(--header-padding);
  --h4-padding: var(--header-padding);
  --h5-padding: var(--header-padding);
  --h6-padding: var(--header-padding);

  --heading-spacing: 10px;
  --heading-spacing-top: var(--heading-spacing);
  --heading-spacing-bottom: var(--heading-spacing);

}
